/* MACRO STUFF */  

* {
    padding: 0;
    margin: 0;
    font-family: Manrope, serif;
}

html {
    font-size: 26px;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(27, 40, 97);
    color: white;
}

/* HEADER, TITLE AND NAV */

h1 {
    font-size: 4rem;
    font-weight: bold;
}

.title {
    padding-bottom: 1rem;
}

h1:hover {
    cursor: default;
}

header h2 {
    font-size: 3rem;
}

header h2:hover {
    cursor: default;
}

header, .header-links {
    display: flex;
}

#desktop-nav {
    display: contents;
}

header {
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: rgb(7, 0, 46);
}

.header-links {
    list-style-type: none;
    gap: 2.5rem;
    font-size: 1.5rem;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: lightcoral;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

/* HAMBURGER MENU SECTION */

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0%;
    background-color: rgb(7, 0, 46);
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: none;
}

.hamburger-icon span:first-child {
    transform: none;
}

/* ABOUT ME SECTION */

.about-me {
    display: flex;
    margin: 2rem 7rem;
    align-items: center;
}

.about-me img {
    height: 35rem;
    width: auto;
    border-radius: 12px;
}

.container {
    margin-left: 2rem;
}

button {
    background: linear-gradient(145deg, #e6e6e6, #fff);
    border: 1px solid #ccc;
    border-radius: 12px;
    color: #333;
    font-size: 1rem;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 1rem;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0,2);
}

button:active {
    box-shadow: inset 6px 6px 8px #d1d1d1;
    background: linear-gradient(145deg, #f0f0f0, #d9d9d9);
}

/* PROJECTS SECTION */

#projects {
    background-color: rgb(7, 0, 46);
}

h3 {
    font-size: 2.5rem;
    font-weight: bold;
    padding-left: 3rem;
}

h4 {
    font-size: 1.5rem;
}

.project-container {
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.project-text-container {
    border: solid 1px white;
    border-radius: 12px;
    padding: 1rem;
    height: 11rem;
    width: 17rem;
}

.project-image {
    height: 20rem;
    width: auto;
    border-radius: 12px;
    padding: 2rem;
}
/* CONTACT SECTION */

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container img {
    height: 12rem;
    padding: 0 1rem 1rem 1rem;
}

/* FOOTER SECTION */

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 7vh;
}

footer ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    gap: 2.5rem;
}

/* MEDIA QUERIES SECTION */

@media only screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;
    }
}