/* Macro stuff */

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 24px;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(27, 40, 97);
    color: white;
}

/* Header, title and nav */

h1 {
    font-size: 4rem;
    font-weight: bold;
}

h1:hover {
    cursor: default;
}

header, .header-links {
    display: flex;
}

header {
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: rgb(7, 0, 46);
}

.header-links {
    list-style-type: none;
    gap: 2.5rem;
    font-size: 1.5rem;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: lightcoral;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

/* HAMBURGER MENU SECTION */

#hamburger-nav {
    display: none;
}

/* ABOUT ME SECTION */

.about-me {
    display: flex;
    margin-top: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.about-me img {
    height: 35rem;
    width: auto;
}

.container {
    margin-left: 2rem;
}

/* Footer */

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 7vh;
    background-color: rgb(7, 0, 46);
}

footer ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    gap: 2.5rem;
}